<%- include('../shared/includes/head', { pageTitle: 'Signup'}) %>
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/form.css">
</head>
<body>
  <%- include('../shared/includes/header') %> 
  <main>
    <h1>Sign Up</h1>
    <% if (inputData.errorMessage) { %>
      <section class="alert">
        <h2>Invalid Input</h2>
        <p><%= inputData.errorMessage %></p>
      </section>
    <% } %>
    <form action="/signup" method="POST">
      <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
      <div class="form-control">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" value="<%= inputData.email %>">
      </div>
      <div class="form-control">
        <label for="fullName">Full Name</label>
        <input type="text" id="fullName" name="fullName" value="<%= inputData.fullName %>">
      </div>
      <div class="form-control">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" value="<%= inputData.password %>">
      </div>
      <div class="form-control">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" value="<%= inputData.confirmPassword %>">
      </div>
      <div id="submit-btn" class="form-control">
        <button class="btn">Create User</button>
        <a href="/login">Login instead</a>
      </div>
    </form>
  </main>
  <%- include('../shared/includes/footer') %>
